body {
    background-image: url('/img/Ghost\ Opus\ Epynomous.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-attachment: fixed; /* Fix the background image in place */

  }

  .button-container {
    text-align: center;
    margin-top: 50px;
  }
  .button {
    display: inline-block;
    margin: 0 10px;
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #14b6da;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #13a1c9;
  }